body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}

.poster img {
  width: 100%;
  border: 5px solid white;
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  margin-top: 20px;
}

p {
  margin-top: 10px;
  font-size: 1rem;
}
